<plugin name='open-lab-taq-man' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/open-lab-taq-man</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.openlab.taqman.TaqManController</resource>
    <resource>org.openlab.module.menu.TaqManMenuModule</resource>
    <resource>org.openlab.taqman.RperationsService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>