*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
*/cobertura.ser
.DS_Store
*/target/
*/out/
*/web-app/plugins
*/web-app/WEB-INF/classes
*/upload
RemoteSystemsTempFiles
Servers
/olfSettingsDB.script
/olfSettingsDB.properties
/olfSettingsDB.log
/testDB.script
/testDB.properties
/testDB.log
.idea/*

