[submodule "modules/OpenLabBackend"]
	path = modules/OpenLabBackend
	url = https://github.com/NanoCAN/OpenLabBackend.git
	branch = master
[submodule "modules/OpenLabStorage"]
	path = modules/OpenLabStorage
	url = https://github.com/NanoCAN/OpenLabStorage.git
	branch = master
[submodule "modules/OpenLabGeneTracker"]
	path = modules/OpenLabGeneTracker
	url = https://github.com/NanoCAN/OpenLabGeneTracker.git
	branch = master
[submodule "modules/OpenLabBarcode"]
	path = modules/OpenLabBarcode
	url = https://github.com/NanoCAN/OpenLabBarcode.git
	branch = master
[submodule "modules/OpenLabAttachments"]
	path = modules/OpenLabAttachments
	url = https://github.com/NanoCAN/OpenLabAttachments.git
	branch = master
[submodule "modules/OpenLabNotes"]
	path = modules/OpenLabNotes
	url = https://github.com/NanoCAN/OpenLabNotes.git
	branch = master
[submodule "prototype"]
	path = prototype
	url = https://github.com/mlist/grails-prototype.git
