<plugin name='open-lab-backend' version='0.1' grailsVersion='1.3.7 &gt; *'>
    <author>Your name</author>
    <title>Plugin summary/headline</title>
    <description>\
        Brief description of the plugin.
    </description>
    <documentation>http://grails.org/plugin/open-lab-backend</documentation>
    <resources>
        <resource>BuildConfig</resource>
        <resource>Config</resource>
        <resource>DataSource</resource>
        <resource>UrlMappings</resource>
        <resource>org.openlab.security.BrowserCompatibilityFilters</resource>
        <resource>org.openlab.application.ApplicationController</resource>
        <resource>org.openlab.data.DataTableControllerTemplate</resource>
        <resource>org.openlab.main.DataObjectController</resource>
        <resource>org.openlab.main.LaboratoryController</resource>
        <resource>org.openlab.main.MainController</resource>
        <resource>org.openlab.main.ProjectController</resource>
        <resource>security.LoginController</resource>
        <resource>security.LogoutController</resource>
        <resource>security.RoleController</resource>
        <resource>security.UserController</resource>
        <resource>security.UserGroupController</resource>
        <resource>org.openlab.main.DataObject</resource>
        <resource>org.openlab.main.Laboratory</resource>
        <resource>org.openlab.main.MainObject</resource>
        <resource>org.openlab.main.MasterDataObject</resource>
        <resource>org.openlab.main.Project</resource>
        <resource>org.openlab.main.SubDataObject</resource>
        <resource>org.openlab.security.Requestmap</resource>
        <resource>org.openlab.security.Role</resource>
        <resource>org.openlab.security.User</resource>
        <resource>org.openlab.security.UserGroup</resource>
        <resource>org.openlab.security.UserRole</resource>
        <resource>org.openlab.service.ApplicationHandlerService</resource>
        <resource>org.openlab.service.ModuleHandlerService</resource>
        <resource>org.openlab.settings.SettingsService</resource>
    </resources>
    <dependencies/>
    <behavior/>
</plugin>