/* Styles for mobile devices */

@media screen and (max-width: 320px) {

    html {
        width: 100% !important;
        text-align: center;
    }
    .nav {
		padding: 0.5em;
	}

	.nav li {
		margin: 0 0.5em 0 0;
		padding: 0.25em;
	}

	/* Hide individual steps in pagination, just have next & previous */
	.pagination .step, .pagination .currentStep {
		display: none;
	}

	.pagination .prevLink {
		float: left;
	}

	.pagination .nextLink {
		float: right;
	}

	/* pagination needs to wrap around floated buttons */
	.pagination {
		overflow: hidden;
	}

    table {
        border: 1px #c0c0c0 solid;
    }

	/* slightly smaller margin around content body */
	fieldset,
	.property-list {
		padding: 0.3em 1em 1em;
	}

	input, textarea {
		width: 100%;
		   -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		    -ms-box-sizing: border-box;
		        box-sizing: border-box;
	}

	select, input[type=checkbox], input[type=radio], input[type=submit], input[type=button], input[type=reset] {
		width: auto;
	}

	/* hide all but the first column of list tables */
	.scaffold-list td:not(:first-child),
	.scaffold-list th:not(:first-child) {
		display: none;
	}

	.scaffold-list thead th {
		text-align: center;
	}

	/* stack form elements */
	.fieldcontain {
		margin-top: 0.6em;
	}

	.fieldcontain label,
	.fieldcontain .property-label,
	.fieldcontain .property-value {
		display: block;
		float: none;
		margin: 0 0 0.25em 0;
		text-align: left;
		width: auto;
	}

	.errors ul,
	.message p {
		margin: 0.5em;
	}

	.error ul {
		margin-left: 0;
	}

    .errors,
    .message {
        font-size: 1.0em;
        line-height: 2;
        margin: 1em 2em;
        padding: 0.5em;
    }

    .message {
        background: #f3f3ff;
        border: 1px solid #b2d1ff;
        color: #006dba;
        -moz-box-shadow: 0 0 0.25em #b2d1ff;
        -webkit-box-shadow: 0 0 0.25em #b2d1ff;
        box-shadow: 0 0 0.25em #b2d1ff;
    }

    .errors {
        background: #fff3f3;
        border: 1px solid #ffaaaa;
        color: #cc0000;
        -moz-box-shadow: 0 0 0.25em #ff8888;
        -webkit-box-shadow: 0 0 0.25em #ff8888;
        box-shadow: 0 0 0.25em #ff8888;
    }
}
