<plugin name='open-lab-barcode' version='1.0' grailsVersion='2.2.0 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/open-lab-barcode</documentation>
  <type>OpenLabBarcodeGrailsPlugin</type>
  <resources>
    <resource>org.openlab.barcode.DeleteFilters</resource>
    <resource>org.openlab.barcode.BarcodeController</resource>
    <resource>org.openlab.barcode.BarcodeDataObjectController</resource>
    <resource>org.openlab.barcode.BarcodeLabelController</resource>
    <resource>org.openlab.barcode.BarcodeSiteController</resource>
    <resource>org.openlab.barcode.Barcode</resource>
    <resource>org.openlab.barcode.BarcodeDataObject</resource>
    <resource>org.openlab.barcode.BarcodeLabel</resource>
    <resource>org.openlab.barcode.BarcodeSite</resource>
    <resource>org.openlab.module.addin.BarcodeCreationAddinModule</resource>
    <resource>org.openlab.module.menu.barcodeMenuModule</resource>
    <resource>org.openlab.module.operations.PrintBarcodeLabelOperationModule</resource>
    <resource>org.openlab.barcode.BarcodeBuilderService</resource>
    <resource>org.openlab.barcode.LabelPrinterService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://maven.springframework.org/milestone' url='http://maven.springframework.org/milestone/' />
    <repository name='http://repo.grails.org/grails/libs-releases' url='http://repo.grails.org/grails/libs-releases/' />
    <repository name='http://m2repo.spockframework.org/ext/' url='http://m2repo.spockframework.org/ext/' />
    <repository name='http://localhost:8081/artifactory/plugins-releases-local' url='http://localhost:8081/artifactory/plugins-releases-local/' />
    <repository name='http://snapshots.repository.codehaus.org' url='http://snapshots.repository.codehaus.org/' />
    <repository name='http://maven.springframework.org/milestone/' url='http://maven.springframework.org/milestone/' />
    <repository name='http://m2repo.spockframework.org/releases/' url='http://m2repo.spockframework.org/releases/' />
    <repository name='http://m2repo.spockframework.org/snapshots/' url='http://m2repo.spockframework.org/snapshots/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.grails' name='grails-webflow' version='2.2.0' />
    </compile>
    <runtime>
      <dependency group='mysql' name='mysql-connector-java' version='5.1.16' />
      <dependency group='hsqldb' name='hsqldb' version='1.8.0.10' />
    </runtime>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='spring-security-cas' version='1.0.5' />
      <plugin group='org.grails.plugins' name='excel-import' version='1.0.0' />
      <plugin group='org.grails.plugins' name='webflow' version='2.0.0' />
      <plugin group='org.grails.plugins' name='webxml' version='1.4.1' />
      <plugin group='org.grails.plugins' name='spring-mobile' version='0.4' />
      <plugin group='org.grails.plugins' name='spring-security-core' version='1.2.7.3' />
      <plugin group='org.grails.plugins' name='jquery-mobile' version='1.1.0.5' />
      <plugin group='org.grails.plugins' name='searchable' version='0.6.4' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='export' version='1.5' />
      <plugin group='org.grails.plugins' name='yui' version='2.8.2.1' />
      <plugin group='org.grails.plugins' name='prototype' version='1.0' />
      <plugin group='org.grails.plugins' name='cloud-foundry' version='1.2.3' />
      <plugin group='org.grails.plugins' name='joda-time' version='1.4' />
      <plugin group='org.grails.plugins' name='quartz' version='0.4.2' />
      <plugin group='org.grails.plugins' name='database-migration' version='1.3.2' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.0' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
      <plugin group='org.grails.plugins' name='grails-ui' version='1.2.3' />
      <plugin group='org.grails.plugins' name='p6spy' version='0.4' />
      <plugin group='org.grails.plugins' name='richui' version='0.8' />
      <plugin group='org.grails.plugins' name='jquery' version='1.7.1' />
      <plugin group='org.grails.plugins' name='bubbling' version='2.1.4' />
      <plugin group='org.grails.plugins' name='svn' version='1.0.0.M1' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>