<plugin name='gene-tracker' version='1.0' grailsVersion='2.2.4 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/gene-tracker</documentation>
  <type>GeneTrackerGrailsPlugin</type>
  <resources>
    <resource>org.openlab.genetracker.AntibioticsController</resource>
    <resource>org.openlab.genetracker.AntibioticsWithConcentrationController</resource>
    <resource>org.openlab.genetracker.CellLineController</resource>
    <resource>org.openlab.genetracker.CellLineDataController</resource>
    <resource>org.openlab.genetracker.CultureMediaController</resource>
    <resource>org.openlab.genetracker.GeneController</resource>
    <resource>org.openlab.genetracker.MediumAdditiveController</resource>
    <resource>org.openlab.genetracker.OrganismController</resource>
    <resource>org.openlab.genetracker.OriginController</resource>
    <resource>org.openlab.genetracker.PassageController</resource>
    <resource>org.openlab.genetracker.PrimerController</resource>
    <resource>org.openlab.genetracker.RecombinantController</resource>
    <resource>org.openlab.genetracker.StatsController</resource>
    <resource>org.openlab.genetracker.VectorController</resource>
    <resource>org.openlab.genetracker.ViabilityController</resource>
    <resource>org.openlab.genetracker.Antibiotics</resource>
    <resource>org.openlab.genetracker.AntibioticsWithConcentration</resource>
    <resource>org.openlab.genetracker.CellLine</resource>
    <resource>org.openlab.genetracker.CellLineData</resource>
    <resource>org.openlab.genetracker.CultureMedia</resource>
    <resource>org.openlab.genetracker.Gene</resource>
    <resource>org.openlab.genetracker.MediumAdditive</resource>
    <resource>org.openlab.genetracker.Organism</resource>
    <resource>org.openlab.genetracker.Origin</resource>
    <resource>org.openlab.genetracker.Passage</resource>
    <resource>org.openlab.genetracker.Primer</resource>
    <resource>org.openlab.genetracker.Recombinant</resource>
    <resource>org.openlab.genetracker.Viability</resource>
    <resource>org.openlab.genetracker.vector.Acceptor</resource>
    <resource>org.openlab.genetracker.vector.CloningVector</resource>
    <resource>org.openlab.genetracker.vector.IntegrationFirst</resource>
    <resource>org.openlab.genetracker.vector.IntegrationSecond</resource>
    <resource>org.openlab.genetracker.vector.Vector</resource>
    <resource>org.openlab.module.addin.GeneLegendAddinModule</resource>
    <resource>org.openlab.module.menu.CellLineMenuModule</resource>
    <resource>org.openlab.module.menu.MasterDataMenuModule</resource>
    <resource>org.openlab.module.menu.geneMenuModule</resource>
    <resource>org.openlab.module.operations.GeneOperationsModule</resource>
    <resource>org.openlab.module.operations.RecombinantOperationsModule</resource>
    <resource>org.openlab.module.tab.AntibioticsModule</resource>
    <resource>org.openlab.module.tab.CellLineDataModule</resource>
    <resource>org.openlab.module.tab.GeneVariantModule</resource>
    <resource>org.openlab.module.tab.GeneVectorModule</resource>
    <resource>org.openlab.module.tab.NCBISequenceViewerModule</resource>
    <resource>org.openlab.module.tab.PassageModule</resource>
    <resource>org.openlab.module.tab.PrimerModule</resource>
    <resource>org.openlab.module.tab.ViabilityModule</resource>
    <resource>org.openlab.genetracker.NCBIParserService</resource>
    <resource>org.openlab.genetracker.RecombinantsService</resource>
    <resource>org.openlab.genetracker.GenetrackerTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://maven.springframework.org/milestone/' url='http://maven.springframework.org/milestone/' />
    <repository name='http://snapshots.repository.codehaus.org' url='http://snapshots.repository.codehaus.org/' />
    <repository name='http://repo.desirableobjects.co.uk' url='http://repo.desirableobjects.co.uk/' />
    <repository name='http://m2repo.spockframework.org/releases/' url='http://m2repo.spockframework.org/releases/' />
    <repository name='http://m2repo.spockframework.org/snapshots/' url='http://m2repo.spockframework.org/snapshots/' />
    <repository name='http://repo.grails.org/grails/libs-releases' url='http://repo.grails.org/grails/libs-releases/' />
    <repository name='http://m2repo.spockframework.org/ext/' url='http://m2repo.spockframework.org/ext/' />
    <repository name='http://localhost:8081/artifactory/plugins-releases-local' url='http://localhost:8081/artifactory/plugins-releases-local/' />
    <repository name='http://maven.springframework.org/milestone' url='http://maven.springframework.org/milestone/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.grails' name='grails-webflow' version='2.2.4' />
      <dependency group='org.cloudfoundry' name='cloudfoundry-runtime' version='0.8.4' />
    </compile>
    <runtime>
      <dependency group='mysql' name='mysql-connector-java' version='5.1.16' />
      <dependency group='hsqldb' name='hsqldb' version='1.8.0.10' />
    </runtime>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='webflow' version='2.0.0' />
      <plugin group='org.grails.plugins' name='richui' version='0.8' />
      <plugin group='org.grails.plugins' name='jquery-mobile' version='1.1.0.5' />
      <plugin group='org.grails.plugins' name='spring-mobile' version='0.4' />
      <plugin group='org.grails.plugins' name='yui' version='2.8.2.1' />
      <plugin group='org.grails.plugins' name='excel-import' version='1.0.0' />
      <plugin group='org.grails.plugins' name='spring-security-core' version='1.2.7.3' />
      <plugin group='org.grails.plugins' name='searchable' version='0.6.4' />
      <plugin group='org.grails.plugins' name='webxml' version='1.4.1' />
      <plugin group='org.grails.plugins' name='grails-ui' version='1.2.3' />
      <plugin group='org.grails.plugins' name='standalone' version='1.2.3' />
      <plugin group='org.grails.plugins' name='spring-security-cas' version='1.0.5' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='jquery' version='1.7.1' />
      <plugin group='org.grails.plugins' name='cloud-foundry' version='1.2.3' />
      <plugin group='org.grails.plugins' name='joda-time' version='1.4' />
      <plugin group='org.grails.plugins' name='export' version='1.5' />
      <plugin group='org.grails.plugins' name='prototype' version='1.0' />
      <plugin group='org.grails.plugins' name='bubbling' version='2.1.4' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.4' />
      <plugin group='org.grails.plugins' name='ajax-uploader' version='1.1' />
      <plugin group='org.grails.plugins' name='quartz' version='0.4.2' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.4' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>