<plugin name='gene-tracker' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/gene-tracker</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.openlab.genetracker.AntibioticsController</resource>
    <resource>org.openlab.genetracker.CellLineController</resource>
    <resource>org.openlab.genetracker.CellLineDataController</resource>
    <resource>org.openlab.genetracker.CultureMediaController</resource>
    <resource>org.openlab.genetracker.GeneController</resource>
    <resource>org.openlab.genetracker.MediumAdditiveController</resource>
    <resource>org.openlab.genetracker.OrganismController</resource>
    <resource>org.openlab.genetracker.OriginController</resource>
    <resource>org.openlab.genetracker.PassageController</resource>
    <resource>org.openlab.genetracker.PrimerController</resource>
    <resource>org.openlab.genetracker.RecombinantController</resource>
    <resource>org.openlab.genetracker.VectorController</resource>
    <resource>org.openlab.genetracker.ViabilityController</resource>
    <resource>org.openlab.genetracker.Antibiotics</resource>
    <resource>org.openlab.genetracker.AntibioticsWithConcentration</resource>
    <resource>org.openlab.genetracker.CellLine</resource>
    <resource>org.openlab.genetracker.CellLineData</resource>
    <resource>org.openlab.genetracker.CultureMedia</resource>
    <resource>org.openlab.genetracker.Gene</resource>
    <resource>org.openlab.genetracker.MediumAdditive</resource>
    <resource>org.openlab.genetracker.Organism</resource>
    <resource>org.openlab.genetracker.Origin</resource>
    <resource>org.openlab.genetracker.Passage</resource>
    <resource>org.openlab.genetracker.Primer</resource>
    <resource>org.openlab.genetracker.Recombinant</resource>
    <resource>org.openlab.genetracker.Viability</resource>
    <resource>org.openlab.genetracker.vector.Acceptor</resource>
    <resource>org.openlab.genetracker.vector.CloningVector</resource>
    <resource>org.openlab.genetracker.vector.IntegrationFirst</resource>
    <resource>org.openlab.genetracker.vector.IntegrationSecond</resource>
    <resource>org.openlab.genetracker.vector.Vector</resource>
    <resource>org.openlab.module.addin.GeneLegendAddinModule</resource>
    <resource>org.openlab.module.menu.CellLineMenuModule</resource>
    <resource>org.openlab.module.menu.MasterDataMenuModule</resource>
    <resource>org.openlab.module.menu.geneMenuModule</resource>
    <resource>org.openlab.module.operations.GeneOperationsModule</resource>
    <resource>org.openlab.module.tab.AntibioticsModule</resource>
    <resource>org.openlab.module.tab.CellLineDataModule</resource>
    <resource>org.openlab.module.tab.GeneVariantModule</resource>
    <resource>org.openlab.module.tab.GeneVectorModule</resource>
    <resource>org.openlab.module.tab.NCBISequenceViewerModule</resource>
    <resource>org.openlab.module.tab.PassageModule</resource>
    <resource>org.openlab.module.tab.ViabilityModule</resource>
    <resource>org.openlab.genetracker.NCBIParserService</resource>
    <resource>org.openlab.genetracker.RecombinantsService</resource>
    <resource>org.openlab.genetracker.GenetrackerTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>